<div class="container bg-light" style="">
  <h1><%=@artist.name%></h1>
  <br>
  <h3>Albumbs(<%=@album.length%>)</h3>
  <div class="card float-right" style="width: 50rem;">
    <img class="card-img" src="<%=@artist.image_url%>" >
  </div>
  <div class="row">
    <%@album.each do |album|%>
      <div class="col-4">
        <div class="card " style="width: 18rem;">
          <img class="card-img-top" src="<%=album.image_url%>" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center font-weight-bold"><%= album.name%></h5>
            <p class="card-text"><%= album.released_at %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
